.card-body {
    display: flex;
    justify-content: space-between;
}
.text-right {
    text-align: right;
}
.dlist-align {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
}
.body {
    padding: 12px 18px;
}
.card {
    border: 0;
    border-radius: unset;
}
.apply-btn {
    background-color: var(--primary-color);
    box-shadow: unset;
    &:hover {
        background-color: var(--primary-color) !important;
        box-shadow: unset;
    }
}
.back-btn {
    box-shadow: unset;
    border: 1px solid rgba(204, 204, 204, 0.568);
    &:hover {
        box-shadow: unset;
    }
}
