@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #fa842c;
    --navbar-height: 63px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;
}
.Toastify {
    font-size: 15px !important;
}
.btn {
    font-size: 0.85rem;
    box-shadow: unset;
}
thead,
tbody,
tfoot,
tr,
td,
th {
    vertical-align: middle;
}
.table th {
    font-weight: 600;
    font-size: 14px;
}
.form-check-input:focus {
    box-shadow: unset;
}
.form-check-input:checked:focus:before {
    box-shadow: unset;
    transform: unset;
}
.form-check-input:checked:before {
    opacity: unset;
    transform: unset;
}
.form-check-input:focus:before {
    opacity: unset;
    box-shadow: unset;
    transform: unset;
}
.form-check-input:hover:before {
    opacity: unset;
    box-shadow: unset;
}
.form-check-input[type='radio']:checked:after {
    background-color: var(--primary-color);
    border-color: unset;
    transition: unset;
    width: 0.6rem;
    height: 0.6rem;
}
.form-check-input[type='radio'] {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    margin-right: 12px;
}
.form-check-input[type='checkbox'] {
    border-radius: 0.25rem;
    margin-top: 0;
    margin-right: 12px;
}
.form-check-input[type='radio']::after {
    background-color: transparent;
}
.form-check-input:indeterminate:focus:before {
    box-shadow: unset;
}
