@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #fa842c;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;
}
.Toastify {
    font-size: 15px !important;
}
.btn {
    font-size: 0.85rem;
}
thead,
tbody,
tfoot,
tr,
td,
th {
    vertical-align: middle;
}
.table th {
    font-weight: 600;
    font-size: 14px;
}
