.image {
    text-align: center;
    padding: 42px;
    border: 1px solid #ccc;
    img {
        height: 100%;
        width: 100%;
        display: inline-block;
        cursor: zoom-in;
    }
}
.product-text {
    display: flex;
    align-items: center;
}
.action-btns {
    button {
        outline: none;
        border: none;
        padding: 4px 12px;
    }
}
.qty {
    width: 38px;
    text-align: center;
}

.custom-btn {
    background-color: var(--primary-color) !important;
    margin-left: 16px;
    box-shadow: unset;
    &:hover {
        background-color: var(--primary-color) !important;
        opacity: 0.9;
        box-shadow: unset;
    }
}
.title {
    font-weight: 600;
}
.section-content {
    margin-bottom: 36px;
}
