.navbar {
    top: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    height: var(--navbar-height);
}
.logo {
    height: 46px;
}
.search {
    display: flex;
    border: 2px solid #bdbdbd00;
    background-color: #dadadc73;
    border-radius: 50px;
    width: 30%;
    overflow: hidden;
    transition: all 0.2s linear;
    input {
        width: 100%;
        padding: 0 20px;
        border: none;
        outline: none;
        background-color: transparent;
        &:focus ~ .searchBtn {
            color: var(--primary-color);
        }
    }
    &:focus-within {
        transition: all 0.2s linear;
        border-color: var(--primary-color);
    }
}
.searchBtn {
    padding: 8px 20px;
    background-color: #dadadc73;
    &:hover {
        cursor: pointer;
        background-color: #dedede;
    }

    &:active {
        background-color: #dedede;
    }
}

.btn {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    + .btn {
        margin-left: 6px;
    }

    &:hover {
        .cartIcon1,
        .userIcon1,
        .logoutIcon1 {
            opacity: 0;
        }
    }
    &:hover {
        .cartIcon2,
        .userIcon2,
        .logoutIcon2 {
            opacity: 1;
        }
    }
}
.btn-login {
    color: rgba(0, 0, 0, 0.733) !important;
    &:hover {
        background-color: unset !important;
    }
    &:active {
        background-color: unset !important;
    }
}
.btn-register,
.btn-register:hover {
    border-color: var(--primary-color) !important;
    color: white !important;
    background-color: var(--primary-color) !important;
}
.custom-btn {
    position: relative;
    background-color: #f0f0f0;
    color: black;
    &:hover {
        color: black;
    }
}
.quantity {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: -5px;
    color: #f3f3f3;
}

.cartIcon1,
.userIcon1,
.logoutIcon1 {
    opacity: 1;
    transition: 0.3s ease-in;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon2,
.userIcon2,
.logoutIcon2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 0;
    opacity: 0;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
