.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    padding-left: 8px;
    margin-bottom: 16px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 0%), 0 2px 6px 2px rgb(60 64 67 / 10%);
}
.info {
    display: flex;
    align-items: center;
}
.name {
    margin-left: 12px;
    font-weight: 500;
}
.imgProduct {
    width: 80px;
}
.product-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-btns {
    button {
        outline: none;
        border: none;
        padding: 4px 12px;
    }
}
.custom-btn {
    background-color: var(--primary-color);
    box-shadow: unset;
    &:hover {
        background-color: var(--primary-color) !important;
        box-shadow: unset;
    }
}
.qty {
    width: 38px;
    text-align: center;
}
.itemside {
    display: flex;
    align-items: center;
}

.text-muted {
    font-weight: 500;
    font-size: 14px;
}
.price-wrap {
    flex: 1;
    margin-left: auto;
    text-align: right;
    margin-right: 24px;
    font-size: 16px;
}
@media (max-width: 739px) {
    .item {
        display: block;
    }
    .price-wrap {
        text-align: left;
        margin: 8px;
    }
    .action {
        margin-left: 8px !important;
    }
}
