.filter {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    input {
        margin-right: 10px;
    }
    span {
        font-size: 15px;
    }
    &-title {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 6px;
    }
    &-price {
        padding-bottom: 12px;
        border-bottom: 1px solid #ccccccb0;
    }
    &-brand {
        padding: 12px 0;
    }
    &-remove {
        margin-bottom: 12px;
    }
}
.notFound {
    text-align: center;
    img {
        max-width: 450px;
    }
}
//Responsive
@media (max-width: 739px) {
    .filter-container {
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }
    .filter-bar {
        margin-bottom: 12px;
        font-weight: 600;
        span {
            margin-left: 8px;
        }
    }
}
@media (min-width: 740px) and (max-width: 992px) {
    .filter-container {
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }
    .filter-bar {
        margin-bottom: 12px;
        font-weight: 600;
        span {
            margin-left: 8px;
        }
    }
}
